@import "./variables";

body {
  background-color: #121729;

  margin: 0;

  font-family: $main-fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./components/header";
@import "./components/typing";
