.header {
  display: flex;
  flex-direction: column;

  padding: 30px 20px;

  color: $text-color;
  font-size: 18px;
  font-weight: 400;

  background-color: $sidebar-background-color;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 30px;
  }
}

.header img {
  display: block;

  margin: 0 auto;

  border-radius: 5px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}

.header__main {
  margin-bottom: 50px;

  @media screen and (min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.header h1,
h2 {
  text-align: center;

  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    text-align-last: left;
  }
}

.header h1 {
  font-size: 24px;
  font-weight: 400;

  margin-top: 20px;
}

.header h2 {
  color: #df6705;
  font-size: 22px;
  font-style: italic;

  margin-top: 20px;
}

.header h3 {
  font-size: 20px;

  margin: 0;
  margin-top: 50px;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.header ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;

  @media screen and (min-width: $tablet-width) {
    margin-top: 60px;
  }
}

.header ul li:not(:last-child) {
  margin-left: 20px;
  margin-bottom: 14px;

  @media screen and (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.header ul li:last-child {
  margin-left: 20px;

  color: #888;
  font-size: 20px;
  font-style: italic;

  @media screen and (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.header a {
  color: #cce;
  font-style: italic;
  text-decoration: none;

  margin-left: 5px;
}

.header a + a {
  color: #6f3e92;
  font-weight: 700;
  font-style: normal;

  margin-left: 15px;
}

.message__block {
  position: relative;

  width: 100%;

  margin-top: 10px;
}

.message__text {
  display: block;
  opacity: 0;

  margin: 0;
  padding: 20px;

  background-color: #121729;
  border-radius: 0px 15px 15px 15px;

  animation-name: message;
  animation-delay: 1500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
