.header {
  display: flex;
  flex-direction: column;

  color: $header-text-color;

  background-color: $header-background-color;
}

.header a {
  color: $header-text-color;

  text-decoration: none;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
