.skills {
    margin-top: 50px;
    padding: 0 20px;

    @media screen and (min-width: $tablet-width) {
        padding: 0 30px;
    }
}

.skills__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    font-size: 18px;
    line-height: 0.5;

    margin: 0;
    padding: 3px;

    color: $text-color;

    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $text-color;

    cursor: pointer;
}

.skills__list {
    display: flex;

    margin: 0;
    margin-top: 20px;

    padding: 0;

    transition: all 500ms linear;
}

.skills__item {
    font-size: 18px;

    cursor: default;
}

.skills__list--tiles {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;

    list-style: none;

    & .skills__item {
        padding: 5px 20px;

        background-color: #13223a;
        border-radius: 15px;
    }
}

.skills__list--list {
    flex-direction: column;

    margin-left: 40px;

    list-style: disc;

    & .skills__item:not(:last-child) {
        margin-bottom: 15px;
    }
}